.cstm-area {
    padding: 0.6rem;
    position: fixed;
    margin: 3rem 2rem;
    width: 24rem;
}

.cstm-wrap {
	float: left;
    display: inline-block;
    width: 19rem;
    padding: 1rem;
}

.cstm-title {
	padding-top: 0;
}

#cstm-memobox{
	resize: none;
}

.cstm-menu {
    margin: 10px 0;
    list-style: none;
    margin-bottom: 0;
}

.cstm-menu-item {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.cstm-handle {
    display: inline-block;
    width: 1.6rem;
    vertical-align: top;
    border: 1px solid;
}



.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    0% { transform: translateX(-90%); }
    100% { transform: translateX(0%); }
}

    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-90%); }
}
